body {
    margin: 0px;
    font-family: Optima;
}
p,
a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-family: optima;
}
h3 {
    color: #FF8E05;
    font-family: optima;
}
h4 {
    color: #FF8E05;
    font-family: optima;
}
h5 {
    color: #FF8E05;
}
.top-header {
    background-color: #292929;
    min-height: 35px;
}
.section-caps-register {
    color: #ff8e05;
    margin-left: auto;
    margin-right: auto;
}
.welcome-register p {
    text-align: center;
    font-size: 1.3em;
    padding-top: 20px;
    line-height: 1.5;
}
.welcome-section-new {
	background-color: #F6F6F2;
}
.top-links1 {
    padding-left: 0px;
    font-size: 10px;
    color: #fff;
    padding-top: 13px;
}
.top-links1 li {
    display: inline;
    padding-top: 0px;
    padding-right: 0px;
    border-right: 1px solid #fff;
    font-size: 12px;
    color: #fff;
}
.top-links1 li:nth-last-child(1){
    border-right: none;
}
.btn-dash a {
    margin-left: 10px;
    padding: 10px 20px;
    color: #fff!important;
    background-color: #000;
    border: 1px solid;
    border-radius: 4px;
    text-decoration: none;
}
.btn-dash a:hover {
    color: #fff!important;
    background-color: #000!important;
    text-decoration: none;
}
.btn-dash a:focus {
    color: #fff!important;
    background-color: #000!important;
    text-decoration: none;
}
.input_cat {
    border-radius: 0px;
}

.top-links1 li a {
 
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
.top-links2 {
    margin-left: 100px;
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
}
.top-links2 li {
    display: inline;
    padding: 0px 30px;
    border-right: 1px solid #fff;
    font-size: 10px;
    color: #fff;
}
.top-links2 li a {
    text-decoration: none;
    font-size: 10px;
    color: #fff;
}
.social-links li {
    display: inline;
    color: #fff;
}
.social-links li a {
   
    padding: 5px;
    
}
.social-links li .linkedin:hover {
    color: #0070AD;
}
.social-links li .twitter:hover {
    color: #1A97F0;
}
.social-links li .pinterest:hover {
    color: #B50B1A;
}
.fa-linkedin-f:before,
.fa-linkedin:before {
    color: #fff;
}
.fa-twitter-f:before,
.fa-twitter:before {
    color: #fff;
}
.fa-google-plus-f:before,
.fa-google-plus:before {
    color: #fff;
}
.fa-instagram-f:before,
.fa-instagram:before {
    color: #fff;
}
.fa-pinterest-f:before,
.fa-pinterest:before {
    color: #fff;
}
.navbar-default {
    min-height: 50px;
    background-color: #ffffff;
    border: none;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-nav {
    margin-left: auto;
    padding: 25px 0px 0px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: 600;
    font-family:Open Sans;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #919191;
    background-color: transparent;
}

ul {
    list-style-type: none;
}
.btn-default {
    margin-left: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    border: 1px solid;
    border-radius: 4px;
}
.header-two {
    min-height: 150px;
    padding: 20px;
    display: inline;
}
.logo {
    float: left;
       height: 101px;
    width: 269px;
}
.form-group {
    padding: 20px;
    text-align: right;
}
.search-box {
    display: inline;
    border-radius: 5px;
    border: 1px;
    background-color: #e2e2e2;
    padding: 5px;
    font-size: 12px;
}
.search-btn {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-left: 2px;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    background-color: #1A97F0;
    color: #fff;
    padding: 5px;
}
.carousel-caption {
    width: 70%;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: unset;
}
.listing_jobs {
    background: #222;
    margin-left: 0;
    margin-bottom: 0;
    display: -webkit-flex;
    display: flex;
}
.listing_jobs .jobs_btn {
    padding: 12px 15px;
    width: 50%;
    float: left;
    text-align: center;
    border-right: 1px solid #fff;
}
.listing_jobs .jobs_btn:nth-child(even) {
    border-right: 0;
}
.listing_jobs .jobs_btn a {
    color: #fff;
    text-decoration: none;
}
.listing_jobs .jobs_btn a:hover {
    color: #fff;
    text-decoration: none;
}
.carousel-caption .carousel-title {
    color: #2D2D2D;
}
.read-btn {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1A97F0;
    color: #fff;
    padding: 5px;
}
.main-body {
    min-height: 550px;
}
.section-featured {
    background-color: #F6F6F6;
}
.thumb-img {
    display: block;
    margin: auto;
    width: 260px;
}
.caption-title {
    font-size: 16px;
    color: #1A97F0;
    text-align: center;
    line-height: 10px;
}
.caption-descr {
    color: #919191;
    text-align: center;
}
.footer-top {
    min-height: 300px;
    background-color: #1A1819;
}
.footer-up {
    min-height: 50px;
    border-bottom: 1px #2F2E2F solid;
    padding: 15px 0px;
}
.news li {
    list-style-type: none;
}
.newsletter {
    padding: 8px;
    font-size: 13px;
}

.news-title {
    padding-bottom: 5px;
    padding-top: 25px;
}
.news-box {
    padding-bottom: 15px;
    margin-top: 10px;
}
.news-btn {
    padding: 10px;
    background-color: #FF8E05;
    color: #fff;
    border: none;
    font-size: 12px;
    position: absolute;
    line-height: 1.5;
}
.news-letter-title {
    padding: 10px;
    color: #FF8E05;
    font-weight: bold;
    float: left;
}
.social-title {
    padding-bottom: 5px;
    padding-top: 25px;
}
.social-footer {
    margin: 0px;
    padding-left: 0px;
    text-align: left;
    list-style: none;
  
}
.social-footer li {
    display: inline-block;
    color: #fff;
    border: 1px solid #FF8E05 ;
    margin: 4px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center
}
.social-footer li a {} .social-footer li .linkedin:hover {
    color: #0070AD;
}
.social-footer li .twitter:hover {
    color: #1A97F0;
}
.social-footer li .facebook:hover {
    color: #B50B1A;
}
.fa-linkedin-f:before,
.fa-linkedin:before {
    color: #fff;
}
.fa-twitter-f:before,
.fa-twitter:before {
    color: #fff;
}
.fa-google-plus-f:before,
.fa-google-plus:before {
    color: #fff;
}
.fa-instagram-f:before,
.fa-instagram:before {
    color: #fff;
}
.fa-facebook-f:before,
.fa-facebook:before {
    color: #fff;
}
.fa-phone-f:before,
.fa-phone:before {
    color: #fff;
}
.help-footer {
    padding-top: 16px;
}
.call {
    color: #fff;
    font-size: 12px;
    padding-left: 4px;
}
.number {
    color: #fff;
    font-size: 22px;
    margin-left:10px; 
}
.footer-content {
    padding: 40px 0px;
}
.foot-title {
    color: #fff;
    padding-bottom: 10px;
}
.foot-img {
    height: 120px;
    width: 295px;
    padding-bottom: 10px;
}
.foot-descr {
    color: #919191;
    text-align: left;
}
.read-link {
    text-align: right;
}
.read-link p a {
    text-decoration: none;
}
.foot-links {
    padding-left: 0px;
}
.foot-links li {
    padding-bottom: 8px;
}
.foot-links li a {
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.foot-links li a span {
    color: #fff;
}
.useful-links {
    padding-left: 0px;
}
.useful-links li {
    padding-bottom: 8px;
}
.useful-links li a {
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.useful-links li a span {
    color: #fff;
}
.blog {
    list-style-type: none;
    text-align: left;
}
.caption-blog {
    color: #919191;
    font-weight: bolder;
}
.contact-box {
    display: block;
    border: 1px solid #88898B;
    background-color: transparent;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    color:#fff;
}
.textarr {
    display: inline;
    border: 1px solid #88898B;
    background-color: transparent;
    padding: 19.84px 10px;
    font-size: 14px;
    width: 206px;
    margin-bottom: 20px;
    color:#fff;
}
.message-btn {
    padding: 21px;
    background-color: #FF8E05;
    color: #000;
    border: none;
    font-size: 14px;
    position: absolute;
        right: 15px;
}
.footer-bottom {
    min-height: 60px;
    background-color: #1A1819;
    text-align: center;
    color: #A6A3A5;
    padding: 40px;
    font-weight: 100;
}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding-left: 0px;
   
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 4px solid #FF8E05;
}
.form {
    padding: 0px 15px;
}
.carousel-caption .btn {
    border: 1px;
    background-color: #fff;
    color: #A6A3A5;
    border-radius: 0px;
    padding-left: 30px;
    width: 219px;
    padding: 15px;
    font-size: 16px;
}
.btn .caret {
    margin-left: 88px;
}
.dropdown-menu {
    border-radius: 0px;
    left: 43px;
}
.title {
    margin-bottom: 30px;
}
.search {
    border: 1px;
    background-color: #fff;
    border-radius: 0px;
    padding-left: 30px;
    padding: 15px;
    font-size: 14px;
}
.search-button {
    position: absolute;
    padding: 14px;
    color: #fff;
    background-color: #ff8e05;
    border: 1px #fff solid;
    right: 20px;
}
.fa-caret-down:before {
    margin-left: 46px;
}
.carousel-indicators li {
    background-color: #FF8E05;
    border: none;
}
.carousel-indicators .active {
    background-color: #212121;
    border: none;
}
.grid_jobs {
    margin-bottom: 30px;
	min-height: 450px;
}
.section-caps {
    color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.underline {
    position: relative;
    width: 224px;
    height: 1px;
    background-color: #000;
    display: inline-block;
    top: 0px;
}
.section-title span:after {
    content: "";
    top: 4px;
    position: absolute;
    bottom: 0;
    left: 64px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: 0;
    width: 160px;
}
.featured-box {
    background-color: #fff;
    min-height: 100px;
    border-left: 0.5px solid #e2e2e2;
    border-right: 0.5px solid #e2e2e2;
    border-bottom: 0.5px solid #e2e2e2;
    padding-top: 10px;
}
.featured-box-title {
    font-weight: 600;
    font-size: 16px;
}
.bookmark {
    position: relative;
    padding-top: 10px;
    padding-left: 13px;
}
.fa-bookmark {
    color: #FF8E05;
}
.job-id {
    padding-left: 7px;
}
.marker {
    padding-left: 50px;
}
.job-location {
    padding-left: 12px;
}
.featured-box-desc {
   padding: 10px 13px 25px;
}
.featured-title {
    padding:0px 13px;
}
.featured-btn1 {
    border: 0;
    border-right: 1px solid #fff;
    background-color: #000;
    color: #fff;
}
.featured-btn2 {
    position: absolute;
    border: 0;
    background-color: #000;
    color: #fff;
}
.welcome-descr,
.grids {
    padding: 50px 0px;
}
.welcome-section {
    min-height: 500px;
    background-image: url("images/background1.jpg");
    background-size: cover;
}
.section-caps2 {
    color: #6E6E6E;
    margin-left: auto;
    margin-right: auto;
}
.underline2 {
    position: relative;
    height: 1px;
    background-color: #6E6E6E;
    display: inline-block;
    top: 0px;
}
.section-title2 span:after {
    content: "";
    top: 4px;
    position: absolute;
    bottom: 0;
    left: 142px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #6E6E6E;
    z-index: 0;
}
.testimonial-section {
    background-image: url(images/testi_bg1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0px;
    position: relative;
}
.overlay2 {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
}
.section-title,
.section-title2,
.section-title3 {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.section-caps3 {
    color: #FF8E05;
    margin-left: auto;
    margin-right: auto;
}
.underline3 {
    position: relative;
    width: 250px;
    height: 1px;
    background-color: #FF8E05;
    display: inline-block;
    top: 0px;
}
.btn-warning{
	color: #fff;
    background-color: #ff8e05;
    border-color: #ff8e05;
}
.btn-warning:hover{
	color:#fff;
	background-color: #000;
	border-color:#000;
}
.section-title3 span:after {
    content: "";
    top: 4px;
    position: absolute;
    bottom: 0;
    left: 99px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #ff8e05;
    z-index: 0;
    width: 151px;
}
.welcome-descr p {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    line-height: 2.5;
}
.testimonial-descr p {
    text-align: center;
    padding: 51px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
}
.fa-quote-left {
    color: #8E8E8E;
}
.fa-quote-right {
    color: #8E8E8E;
}
.quote-left {
    float: left;
}
.quote-right {
    float: right;
}
.testi-title h3 {
    text-align: center;
    color: #fff;
}
.testi-title p {
    font-size: 14px;
}
.partners {
    min-height: 400px;
}
.section-title4 {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-bottom: 50px;
}
.section-caps4 {
    color: #000;
    margin-left: auto;
    margin-right: auto;
}
.underline4 {
    position: relative;
    height: 1px;
    background-color: #000;
    display: inline-block;
    top: 0px;
}
.section-title4 span:after {
    content: "";
    top: 4px;
    position: absolute;
    bottom: 0;
    left: 125px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #000;
    z-index: 0;
}
.partners {
    background-color: #F6F6F6;
}
.partner-logo img {
    margin: auto;
}
.arrow-left {
    position: absolute;
    top: 50%;
}
.arrow-right {
    position: absolute;
    top: 50%;
    right: 0;
}
.fa-chevron-left {
    color: #000;
}
.fa-chevron-right {
    color: #000;
}
.educational-partners{
     padding: 50px 0px;
}
.corporate-partners{
     padding: 50px 0px;
}
.fa-2x{
    font-size: 1.6em;
}
.content_t {
    padding: 50px 0px;
    width: 62%;
    margin: 0px auto;
}
.corporate-partners {
    background-color: #fff;
}
.img_dash img {
   width: 100%;
    height: 200px;
    object-fit: cover;
}
.contact-us {
    min-height: 400px;
    border-top: 1px solid #e2e2e2;
    padding-top: 30px;
    padding-bottom: 60px;
}
#contact-name {
    margin-bottom: 30px;
}
#contact-num {
    margin-bottom: 30px;
}
#contact-message {
    margin-bottom: 30px;
}
.btn-warning {
    float: left;
}
.apply-now {
    min-height: 500px;
    padding-bottom: 100px;
}
.apply-btn {
    border: 1px;
    background-color: #FF8E05;
    color: #fff;
}
.section-apply-title {
    padding: 30px 0px;
}

.job-box {
    margin: 25px 0px;
    padding: 25px 15px;
    border: 1px solid #ccc;
}
.featured-box-job {
    background-color: #fff;
    min-height: 100px;
    padding-top: 10px;
}
.featured-box-job-btn {
    padding: 26px 0px;
    text-align: right;
}
.featured-job-btn1 {
    border: 0;
    border-right: 1px solid #fff;
    background-color: #000;
    color: #fff;
}
.featured-job-btn2 {
    position: relative;
    border: 0;
    background-color: #000;
    color: #fff;
}
.about-us {
    min-height: 500px;
}
.apply {
    margin: 20px;
}
.form-control {
    margin-bottom: 10px;
}
.jobs-banner {
    background-image: url(images/banner-job.jpg);
    padding: 0px 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.section-caps-jobs {
    color: #FF8E05;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.overlay-jobs {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 20px 10px;
}
.job-content {
    padding: 80px 0px;
}

.our-aim {
    padding: 80px 0px;
	background:#f6f6f6;
}
.about-content p {
    padding: 20px 0px;
    line-height: 1.8;
}
.about-aim {
    text-align: center;
    padding: 20px 0px;
}
.about-content h4 {
    padding: 20px 0px;
    text-align: center;
    line-height: 1.8;
}
.about-content .aim-desc {
    padding: 1px 0px;
    line-height: 1.5;
    text-align: center;
}
.about-method {
    text-align: center;
    padding: 16px 0px;
}
.method-desc {
    text-align: center;
}
.testimonial-post {
    padding: 20px 0px;
}
.test-content {
    padding: 80px 50px;
    text-align: center;
    width: 66%;
    margin: auto;
}
.test-title h3 {
    color: #FF8E05;
    text-align: center;
}
.test-title p {
    text-align: center;
}
.testimonial-post .quote-right {
    color: #8E8E8E;
    padding-right: 20px;
}
.text-center{text-align:center;}
.single-jobs-banner{
        background-image: url(images/banner-job.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0px;
    position: relative;
}
.apply-job{
        float: right;
    text-decoration: none;
    border: 1px solid #000;
    background-color: #ff8e05;
    color: #fff;
    padding: 15px 15px;
    border-radius: 5px;
}
.apply-job:hover{
    background-color:#000;
    border: 1px solid #ff8e05;
	color:#fff;
    text-decoration: none;
}
.apply-job-bottom{
       
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #ff8e05;
    color: #fff;
    padding: 15px 15px;
    border-radius: 5px;
}
.apply-job-bottom:hover{
    background-color:#000;
	border: 1px solid #ff8e05;
    color:#fff;
        text-decoration: none;
}
.overlay-jobs h4{
    color:#fff;
}
.bottom-job{
   
    padding: 20px 0px;
}
.overlay:before {
    content: "";
    top: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 13px;
    height: 10px;
    border-bottom: solid 10px transparent;
    border-right: solid 10px #ff8e05;
    border-left: solid 10px transparent;
    border-top: solid 10px #ff8e05;
}
.change-job:hover{
    text-decoration: none;
}
.featured-box-title a{
    text-decoration: none;
    color:#000;
     
}
.featured-box-title a:hover{
     text-decoration: none;
    color:#000;
     
}
.single-jobs-desc img{ max-width:100%;}
.job-desc{padding:20px 0px;padding-top:0px;}
.job-desc img {max-width:100%!important;}
img.job-desc {max-width:100%!important;}
.job-desc h4{padding:15px 0px;padding-top:0px;}
.sections{padding:100px 0px;}
.jobs-sidebar{
    border-left: 1px solid #ccc;
    padding:20px;
}
.contact-add{padding:10px 0px;}
.contact-add span{
    margin-left:7px;
}
.apply-top-btn{padding:20px 0px;}
@media only screen and (min-width: 1190px) {
    .newsletter {
        width: 200px;
    }
}
@media only screen and (min-width: 780px) and (max-width: 1189px) {
    .newsletter {
        width: 125px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 780px) {
    .carousel-caption{display:none!important;}
    .carousel-caption {
        top: 50%!important;
        width: auto!important;
    }
.section {
    padding: 50px 0px;
}
.content_t{
	width: 80%;
}
    .carousel-caption .title {
        margin-bottom: 0!important;
    }
    .carousel-caption .title h3 {
        font-size: 16px!important;
        margin-top: 2px!important;
        margin-bottom: 2px!important;
    }
    .dropdown1,
    .dropdown2 {
        padding: 5px!important;
    }
    .carousel-caption .btn {
        padding: 7px !important;
        font-size: 14px!important;
        width: 100%!important
    }
    .dropdown2 {
        padding-left: 5px!important;
    }
    .search-button {
        padding: 4px!important;
        padding-bottom: 4px!important;
    }
    .search-box2 {
       padding: 5px!important;
    }
    .search {
        
         padding: 6px 12px;
    }
    .overlay {
        width: auto!important;
        padding-right: 20px!important;
    }
    .featured-btn1 {
        padding: 11px 49px;
    }
    .featured-btn2 {
        padding: 11px 43px;
    }
    .featured-job-btn1 {
        padding: 11px 49px;
    }
    .featured-job-btn2 {
        padding: 11px 43px;
    }
    .underline2 {
        width: 251px;
    }
    .section-title2 center {
        font-size: 24px;
    }
    .section-title2 span:after {
        width: 109px;
    }
    .welcome-descr p,
    .testimonial-descr p {
        font-size: 14px;
        line-height: 1.4;
    }
    .underline4 {
        width: 300px;
    }
    .section-title4 span:after {
        width: 155px;
    }
    .partner-logo img {
        width: 70%;
        padding: 10px;
    }
    .contact-form .form-group {
        padding-left: 0px
    }
    .foot-img {
        margin-top: 0px;
    }
    .top-links1 {
        margin-left: 0px;
    }
    .top-links1 li {
        padding-left: 0px;
        padding-right: 6px;
    }
    .email {
        padding-left: 16px;
        padding-right: 5px;
    }
    .social-links {
        display: none;
    }
    .textarr {
        width: 100%;
    }
    .listing_jobs {
        padding: 0px 12px;
    }
    .btn-dash a {
        width: 150px;
        text-align: center;
    }
    .search,
    .input_cat {
        width: 100%;
        font-size: 13px;
    }
    .navbar-toggle{margin: 35px 20px;}
    .job_line{display: none;}
.job_line:after{     
    display: none;}
}
@media only screen and (min-width: 781px) {
	.section {
    padding: 100px 0px;
}
    .featured-btn1 {
        padding: 11px 26px;
    }
    .featured-btn2 {
        padding: 11px 25px;
    }
    .featured-job-btn1 {
        padding: 11px 26px;
    }
    .featured-job-btn2 {
        padding: 11px 25px;
    }
    .underline2 {
        width: 429px;
    }
    .section-title2 span:after {
        width: 287px;
    }
    .welcome-descr p {
        font-size: 20px;
        line-height: 1.4;
    }
    .underline4 {
        width: 367px;
    }
    .section-title4 span:after {
        width: 242px;
    }
    .testimonial-descr p {
        font-size: 18px;
    }
    .contact-form .form-group {
        padding-left: 0px;
        padding-right: 120px;
    }
    .foot-img {
        margin-top: 50px;
    }
    .top-links1 li {
        padding: 0px 15px;
    }
    .email {
        padding-left: 30px;
    }
    .social-links {
        margin: 0px;
        padding: 10px;
        text-align: right;
        padding-right: 5px;
        margin-right: 5px;
    }
    .navbar-nav {
        float: right!important;
    }
    .search,
    .input_cat {
        height: 50px;
        font-size: 14px;
        width: 100%;
    }
    .dropdown1,
    .dropdown2 {
        padding: 10px;
    }
    .search-box2 {
        padding: 10px;
    }
    .job_line{background-color: #ff8e05!important;}
.job_line:after{     
    content: "";
    top: 4px;
    position: absolute;
    bottom: 0;
    
    right: 0;
    height: 0.5em;
    border-top: 1px solid #ff8e05;
    z-index: 0;
    width: 151px;}
}
.wpcf7-response-output{
  color:#fff;
}
.owl-carousel .item{
padding:20px;
}
.carousel-inner .item .partner-logo{
padding:0 15px;}
.links_more {
     border-bottom: 1px solid #ccc;
    padding: 15px 0px;
}
.links_more:nth-last-child(1) {
    border-bottom: none;
}
