body{

    margin:0px;


}
p, a{
    font-size:14px;
}

h3{
    color:#FF8E05;
}
h4{
    color:#FF8E05;
}
h5{
    color:#FF8E05;
}

.top-header{

    background-color:#292929;
    min-height:35px;

}

.top-links1{

    margin-left:80px;
    margin-top:15px;
    font-size:10px;
    color: #fff;



}

.top-links1 li{

    display:inline;
    padding:0px 30px;
    border-right:1px solid #fff;
    font-size:10px;
    color: #fff;


}



.top-links1 li a{

    //color:#919191;
    text-decoration:none;
    font-size:10px;
    color: #fff;

}
.top-links2{

    margin-left:100px;
    margin-top:15px;
    font-size:10px;
    color: #fff;



}

.top-links2 li{

    display:inline;
    padding:0px 30px;
    border-right:1px solid #fff;
    font-size:10px;
    color: #fff;


}
.top-links2 li a{

    text-decoration:none;
    font-size:10px;
    color: #fff;

}
.social-links{

    margin:0px;
    padding:10px;
    text-align:right;
    padding-right:5px;
    margin-right:20px;

}
.social-links li{

    display:inline;

    color:#fff;



}

.social-links li a{
    //border: 2px;
    //border-radius: 40px;
    padding:5px;
    //background-color:#919191;

}

.social-links li .linkedin:hover{
    color:#0070AD;

}

.social-links li .twitter:hover{
    color:#1A97F0;
}
.social-links li .pinterest:hover{
    color:#B50B1A;
}

.fa-linkedin-f:before, .fa-linkedin:before{
    color:#fff;
}
.fa-twitter-f:before, .fa-twitter:before{
    color:#fff;
}
.fa-google-plus-f:before, .fa-google-plus:before{
    color:#fff;
}
.fa-instagram-f:before, .fa-instagram:before{
    color:#fff;
}
.fa-pinterest-f:before, .fa-pinterest:before{
    color:#fff;
}
.navbar-default{
    min-height:50px;
    background-color:#ffffff;
    border:none;
}
.navbar-nav{

    margin-left:78px;
    margin-top:40px;
}
.navbar-default .navbar-nav>li>a{

    color:#000;



} 
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{

    color:#919191;
    background-color:transparent;

}
/*.navbar-nav li{
        border-bottom:1px solid #919191;
}*/

/*.navbar-nav .active{
        border-bottom:3px solid #1A97F0;
}*/

ul{
    list-style-type:none;
}

.btn-default{

    margin-left:10px;
    padding:10px 20px;
    color:#fff;
    background-color:#000;
    border:1px solid;
    border-radius:4px; 
}

.header-two{
    min-height:150px;
    padding:20px;
    display:inline;

}

.logo{
    float:left;
    height:113px;
    width:215px;;
}
.form-group{
    padding:20px;
    text-align:right;

}
.search-box{
    display:inline;
    border-radius:5px;
    border:1px;
    background-color:#e2e2e2;
    padding:5px;
    font-size:12px;
}
.search-btn{

    border: none;
    text-align: center;
    text-decoration: none;

    font-size: 12px;
    margin-left: 2px;
    cursor: pointer;
    position:absolute;

    border-radius:5px;
    background-color:#1A97F0;
    color:#fff;
    padding:5px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img{
    max-height:700px;
}
.carousel-caption{
    top:46%;
    padding-left:15px;
    padding-right:15px;
    width:80%;
    margin-left: auto;
    margin-right:auto;


}

.carousel-caption .carousel-title{
    color:#2D2D2D;
}
.read-btn{

    border: none;
    text-align: center;
    text-decoration: none;

    font-size: 12px;
    float:left;
    cursor: pointer;


    border-radius:5px;
    background-color:#1A97F0;
    color:#fff;
    padding:5px;
}
.main-body{

    min-height:550px;

}
.section-featured{
    background-color: #F6F6F6;
    padding-bottom:35px; 
}
.thumb-img{
    display:block;
    margin:auto;
    width:260px;
}
.caption-title{
    font-size:16px;
    color:#1A97F0;
    text-align:center;
    line-height:10px;

}
.caption-descr{
    color:#919191;
    text-align:center;

}

.footer-top{
    min-height:300px;
    background-color:#1A1819;
}

.footer-up{

    min-height:50px;
    border-bottom: 1px #2F2E2F solid;
    padding:15px 0px;

}
.news li{
    list-style-type: none;

}
.newsletter{
    padding: 10px; 
    width: 200px;
    font-size: 10px;
}
.news-title{
    padding-bottom: 5px;
    padding-top: 25px;

}
.news-box{
    padding-bottom: 15px;
    margin-top: 10px;

}
.news-btn{
    padding: 10px; 
    background-color:#FF8E05; 
    color:#fff;
    border:none;
    font-size: 12px;
    position: absolute;
    line-height: 1.5;

}
.news-letter-title{
    padding:10px;
    color:#FF8E05;
    font-weight:bold; 
    float:left; 

}
.social-title{
    padding-bottom: 5px;
    padding-top: 25px;
    padding-left: 48px;

}
.social-footer{

    margin:0px;
    padding-top:15px;
    paddint-bottom:10px;

    text-align: left;

    //margin-right:20px;


}
.social-footer li{

    display:inline;
    padding-left: 8px;
    padding-right: 8px;	
    color:#fff;



}

.social-footer li a{
    border: 1px solid #FF8E05 ;
    border-radius: 40px;
    padding:12px;
    //background-color:#FF8E05;

}

.social-footer li .linkedin:hover{
    color:#0070AD;

}

.social-footer li .twitter:hover{
    color:#1A97F0;
}
.social-footer li .facebook:hover{
    color:#B50B1A;
}

.fa-linkedin-f:before, .fa-linkedin:before{
    color:#fff;
}
.fa-twitter-f:before, .fa-twitter:before{
    color:#fff;
}
.fa-google-plus-f:before, .fa-google-plus:before{
    color:#fff;
}
.fa-instagram-f:before, .fa-instagram:before{
    color:#fff;
}
.fa-facebook-f:before, .fa-facebook:before{
    color:#fff;
}

.fa-phone-f:before, .fa-phone:before{
    color:#fff;

}

.help-footer{
    padding-top: 16px;

}
.call{
    color: #fff;
    font-size:12px;
    padding-left:4px;
}
.number{
    color: #fff;
    font-size:22px; 

}

.footer-content{

    padding:40px 0px;


}
.foot-title{
    color:#fff;
    padding-bottom:10px;
}
.foot-img{
    margin-top:50px; 
    height:120px;
    width:210px;
    padding-bottom:10px;

}
.foot-descr{
    color:#919191;
    text-align:left;

}
.read-link{
    text-align:right;

}
.read-link p a{

    text-decoration:none;
}
.foot-links{
    padding-left:0px; 

}
.foot-links li{

    padding-bottom: 8px;
}
.foot-links li a{
    line-height:30px;
    text-decoration:none;
    color:#fff; 
    font-weight:300;


}
.foot-links li a span{
    color:#fff;

}
.useful-links{
    padding-left:0px; 

}
.useful-links li{

    padding-bottom: 8px;
}
.useful-links li a{
    line-height:30px;
    text-decoration:none;
    color:#fff; 
    font-weight:300; 


}
.useful-links li a span{
    color:#fff;

}
.blog{
    list-style-type:none;
    text-align:left;
}
.caption-blog{
    color:#919191;
    font-weight:bolder;
}
.contact-box{
    display:block;

    border:1px solid #88898B;
    background-color:transparent;
    padding:10px;
    font-size:12px;
    width:100%;
    margin-bottom:20px;
}
.textarr{
    display:inline;

    border:1px solid #88898B;
    background-color:transparent;
    padding:19.84px;
    font-size:12px;
    width:206px;
    margin-bottom:20px;

}
.message-btn{

    padding: 23.5px; 
    background-color:#FF8E05; 
    color:#000;
    border:none;
    font-size: 12px;
    position: absolute;
    line-height: 1.5;

}
.footer-bottom{
    min-height:60px;
    background-color:#1A1819;
    text-align:center;
    color:#A6A3A5;
    padding:40px;
    font-weight: 100;
}
.overlay{
    background: rgba(0,0,0,0.6);
    padding-left:0px;
    padding-right:90px; 
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 4px solid #FF8E05;
    width:max-content;

}
.dropdown1{
    padding:20px;
}

.dropdown2{
    padding:20px;
    padding-left:12px;
}

.carousel-caption .btn {
    border:1px;
    background-color: #fff;
    color:#A6A3A5;
    border-radius: 0px;
    padding-left: 30px;
    width:219px;
    padding:15px;
    font-size:16px; 

}
.btn .caret{
    margin-left:88px; 
}
.dropdown-menu{
    border-radius:0px;
    left:43px; 
}
.title{
    margin-bottom:30px; 

}
.search{
    border:1px;
    background-color: #fff;
    color:#B8B6B7;
    border-radius: 0px;
    padding-left: 30px;
    width:219px;
    padding:15px;
    font-size:14px;
}
.search-button{
    position: absolute;
    padding: 19.7px;
    color: #fff;
    background-color: #ff8e05;
    border: 1px #fff solid;
    padding-bottom: 14px;


}
.search-box2{
    margin-top:20px; 
}
.fa-caret-down:before{
    margin-left:46px;

}
.carousel-indicators li{

    background-color: #FF8E05;
    border:none;
}
.carousel-indicators .active{

    background-color: #212121;
    border:none;
}
.section-title{
    margin-top: 102px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.section-caps{
    color:#000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.underline{
    position: relative;
    width: 224px;
    height: 1px;
    background-color: #000;
    display: inline-block;
    top: 0px;
    margin-bottom:30px;

}
.section-title span:after{
    content:"";
    top: 4px;
    position: absolute;
    bottom: 0;
    left: 64px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: 0;
    width:160px;
}
.featured-box{
    background-color: #fff;
    min-height: 100px;
    border-left: 0.5px solid #e2e2e2;
    border-right: 0.5px solid #e2e2e2;
    border-bottom: 0.5px solid #e2e2e2;
    padding-top: 10px;


}
.featured-box-title{
    font-weight: 600;
    font-size: 16px;
}
.bookmark{
    position: relative;
    padding-top: 10px;
    padding-left: 8px;
}
.fa-bookmark{
    color:#FF8E05;
}
.job-id{
    padding-left: 7px;
}
.marker{
    padding-left: 50px;
}
.job-location{
    padding-left: 12px;
}
.featured-box-desc{
    padding: 20px;
    padding-top: 30px;
}
.featured-title{
    padding-left: 8px;
}
.featured-btn1{
    padding:11px 26px;
    border:0;
    border-right: 1px solid #fff;
    background-color: #000;
    color: #fff;

}
.featured-btn2{
    padding:11px 25px;
    position: absolute;
    border:0;
    background-color: #000;
    color: #fff;
}
.welcome-descr{
    padding-bottom: 50px;
}
.welcome-section{

    min-height:500px;
    background-image: url("images/bg1.jpg");
    background-size: cover;
}
.section-title2{


    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-top: 102px;
}
.section-caps2{
    color:#6E6E6E;
    margin-left: auto;
    margin-right: auto;

}
.underline2{
    position: relative;
    width: 429px;
    height: 1px;
    background-color: #6E6E6E;
    display: inline-block;
    top: 0px;
    margin-bottom:30px;

}
.section-title2 span:after{
    content:"";
    top: 4px;
    position: absolute;
    bottom: 0;
    left: 142px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #6E6E6E;
    z-index: 0;
    width:287px;
}
.welcome-descr p{
    text-align: center;
    font-size: 23px;
    padding: 51px;
    padding-top:10px; 
    line-height: 2.5;

}
.testimonial-section{

    min-height:621px;
    background-image: url("images/bg2.jpg");
    background-size: cover;

}
.overlay2{
    background: rgba(0,0,0,0.7);
    width: 100%;
    min-height: 621px;
    position: absolute;
}
.section-title3{


    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-top: 102px;
}
.section-caps3{
    color:#FF8E05;
    margin-left: auto;
    margin-right: auto;

}
.underline3{
    position: relative;
    width: 250px;
    height: 1px;
    background-color: #FF8E05;
    display: inline-block;
    top: 0px;
    margin-bottom:30px;

}
.section-title3 span:after{
    content:"";
    top: 4px;
    position: absolute;
    bottom: 0;
    left: 99px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #ff8e05;
    z-index: 0;
    width:151px;
}
.welcome-descr p{
    text-align: center;
    font-size: 23px;
    padding: 51px;
    padding-top:10px; 
    line-height: 2.5;

}
.testimonial-descr p{
    text-align: center;
    font-size: 20px;
    padding: 51px;
    padding-bottom:10px;
    padding-top:10px; 
    line-height: 1.5;
    font-weight: 300;
    color:#fff;

}
.fa-quote-left{
    color: #8E8E8E;
}
.fa-quote-right{
    color: #8E8E8E;

}
.quote-left{
    float:left;
}
.quote-right{
    float:right;

}
.testi-title h3{
    text-align: center;
    color:#fff;
}
.testi-title p{
    font-size: 14px;
}
.partners{
    min-height: 400px;
}
.section-title4{


    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-top: 60px;
    padding-bottom: 120px;
}
.section-caps4{
    color:#000;
    margin-left: auto;
    margin-right: auto;

}
.underline4{
    position: relative;
    width: 367px;
    height: 1px;
    background-color: #000;
    display: inline-block;
    top: 0px;
    margin-bottom:30px;

}
.section-title4 span:after{
    content:"";
    top: 4px;
    position: absolute;
    bottom: 0;
    left: 125px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #000;
    z-index: 0;
    width:242px;
}
.partners{
    background-color: #F6F6F6;
}
.partner-logo img{

    margin:auto;
}
.arrow-left{
    position: absolute;
    top: 50%;
}
.arrow-right{
    position: absolute;
    top: 50%;
    right:0;
}
.fa-chevron-left{
    color:#000;
}
.fa-chevron-right{
    color:#000;
}
.educational-partners{
    margin-bottom:85px; 
}
.corporate-partners{
    background-color: #fff;
    margin-bottom: 85px;
}
.email{
    padding-left: 30px;
}
